.splide {
	$buttonSize: 40px;

	&__slide {
		min-height: 128px;
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 450ms ease-in-out;

		.inner {
			overflow: hidden;
			grid-template-rows: 0fr;
		}

		&.is-active {
			grid-template-rows: 1fr;
			.inner {
				grid-template-rows: 1fr;
			}
		}

		img {
			width: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	&__arrow {
		fill: white;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 40px;
		transition: opacity 0.3s ease-in-out;

		@media (max-width: 767.98px) {
			display: none;
		}

		&:disabled {
			opacity: 0.35;
		}

		&--prev {
			rotate: 180deg;
			left: calc($buttonSize * -2);
		}

		&--next {
			right: calc($buttonSize * -2);
		}
	}
}

.slider-progress {
	background: #ccc;
}

.slider-progress-bar {
	background: #22668d;
	height: 2px;
	transition: width 400ms ease;
	width: 0;
}
