.splide {
	$buttonSize: 40px;

	&__slide {
		min-height: 128px;
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 450ms ease-in-out;

		.inner {
			overflow: hidden;
			grid-template-rows: 0fr;
			/* transition: grid-template-rows 450ms ease-in-out; */
		}

		&.is-active {
			grid-template-rows: 1fr;
			.inner {
				grid-template-rows: 1fr;
			}
		}
	}

	&__arrow {
		fill: white;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 40px;
		transition: opacity 0.3s ease-in-out;

		@media (max-width: 767.98px) {
			display: none;
		}

		&:disabled {
			opacity: 0.35;
		}

		&--prev {
			rotate: 180deg;
			left: calc($buttonSize * -2);
		}

		&--next {
			right: calc($buttonSize * -2);
		}
	}
	&__pagination {
		display: flex;
		gap: 12px;
		margin-top: 24px;
	}
	&__pagination__page {
		height: 12px;
		width: 12px;
		border-radius: 100%;
		background-color: gray;

		&.is-active {
			background-color: white;
		}
	}
}
